Source: the-honkers-railway-launcher 
Build-Depends: debhelper (>= 9)
Maintainer: ThunderGemios10 <thundergemios10@protonmail.com>
Section: games
Priority: optional

Package: the-honkers-railway-launcher 
Architecture: all
Essential: no
Depends: libc6 (>= 2.38), libadwaita-1-0, git, webp
Recommends: mangohud, gamemode
Description: The Honkers Railway launcher for Linux with automatic patching and telemetry disabling