Source: honkers-launcher
Build-Depends: debhelper (>= 9)
Maintainer: ThunderGemios10 <thundergemios10@protonmail.com>
Section: games
Priority: optional

Package: honkers-launcher
Architecture: all
Essential: no
Depends: libc6 (>= 2.38), libadwaita-1-0, git, p7zip-full
Recommends: mangohud, gamemode
Description: Honkers launcher for Linux with automatic patching and telemetry disabling